.hidden {
    display: none;
}

body {
    height: 100vh;
    max-width: 100%;
    background-color: darkred;
    text-align: center;
}

.card {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.buttons {
    margin-top: 2rem;
}

.buttons button {
    margin: 1rem;
    border: 2px solid darkred;
    border-radius: 3px;
    padding: 0.5rem;
    color: darkred;
    font-weight: bolder;
}

h1 {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

input, select {
    border: 2px solid darkred;
    border-radius: 3px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
}

label {
    color: darkred;
    font-weight: bold;
}

.ticket-cont {
    justify-content: space-between;
    border: 1px solid black;
}

.ticket-details {
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
    text-align: left;
}

h3 {
    text-align: left;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

h6 {
    font-size: 1rem;
}

.user-ticket {
    padding: 1rem;
    background-color: lightslategray;
    text-align: left;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: bold;
}